.ChatsMessage_viewed {
  width: 100%;
  height: 0.05em;
  background-color: var(--red);
  margin: 0.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;

  span {
    font-size: 0.7em;
    font-weight: 800;
    padding: 0.5em;
    border-radius: 8px;
    background-color: var(--red);
    text-transform: uppercase;
  }
}

.ChatsMessage_container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  gap: 0.5em;
  transition: var(--transition);
  animation: fadeIn 0.5s ease;

  .ChatsMessage_content {
    max-width: 90%;
    padding: 0.8em 1.2em;
    border-radius: 22px;
    overflow-wrap: break-word;

    .title {
      font-size: 0.8em;
      display: flex;
      justify-content: space-between;
      gap: 1em;

      span {
        margin: 0;
      }
    }

    .content {
      font-size: 1.1em;
      margin: 0;
      white-space: pre-line;

      a {
        color: var(--dark-blue);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .content_file {
      border-radius: 12px;
      background-color: #28292c;
      padding: 0.8em 0.8em;
      padding-left: 0.8em;
      display: flex;
      justify-content: space-around;
      gap: 1em;
      transition: var(--transition);
      cursor: pointer;

      .file {
        h2 {
          margin: 0;
          font-size: 1em;
          transition: var(--transition);
        }
      }
    }

    .content_file:hover {
      background-color: #1e1f21;

      .file {
        h2 {
          color: var(--blue);
        }
      }
    }

    .footer {
      height: 1.5em;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      overflow: hidden;

      .reactions {
        width: fit-content;
        max-width: 80%;
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        margin-top: 0.3em;
        border-radius: 22px;
        background-color: #28292c;
        gap: 0.2em;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.7em;
          padding: 0.3em;
          border-radius: 22px;
          user-select: none;
          cursor: pointer;
          gap: 0.2em;
          transition: var(--transition);
          animation: opacity 0.5s ease forwards;
        }
      }

      .date {
        font-size: 0.6em;
        padding: 0.3em;
      }
    }
  }

  .preview_image {
    max-width: 30em;
    max-height: 30em;
    border-radius: 22px;
  }

  .ChatsMessage_author {
    width: 3.125em;
    height: 3.125em;
    user-select: none;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(1em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
